<!-- login -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="login_center">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Acessar</h1>
            <br>
            {{form.as_p}}
            <br>
            <button type="submit">Entrar</button>
        </form>
    </div>
    
</body>
</html>